@model PsuHistoryWeb.Domain.Entities.Monuments.TypeVictim
@{
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 col-pull-6 justify-content-center font-weight-bold">
                        <h1>Добавление Типа</h1>
                    </div>
                    <div class="col-6 col-push-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("TypeVictim", "TypeVictim")'">
                            Назад
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-lg-8 col-xl-5">

                        @using (Html.BeginForm("Add", "TypeVictim"))
                        {
                            @Html.ValidationSummary(true, String.Empty, new { @style = "color:red" })
                            <div>
                                <div class="form-group">
                                    <label asp-for="Name">Тип</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @style = "color:red" })
                                </div>
                                <div>
                                    <input type="submit" value="Добавить" class="btn btn-primary btn-block" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>