@{
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 col-pull-6 justify-content-center font-weight-bold">
                        <h1>Админ Панель</h1>
                    </div>
                    <div class="col-6 col-push-6 d-flex justify-content-end">
                    </div>
                </div>
            </div>
            <div class="card-body" style="overflow: auto; padding: 20px 0 0 0;">
            </div>
        </div>
    </div>
</div>